html, body {
    height: 100%;
    margin: 0; padding: 0;
    overflow: hidden;
    background-color: #000;
}
#container {
    background-color: #333;
    width: 900px;
    height: 600px;
	position: relative;
	margin: 10px auto 0 auto;
}
#map, #playarea, .mapBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 600px; 
	height: 550px;
	background: url('../assets/grass.jpg');
}
#shopMenu {
    position: absolute;
	top: 0;
	left: 605px;
	width: 295px; 
	height: 550px;
	background: url('../assets/floor.jpg');
    color: #eee;
}
#toolbar {
    position: absolute;
	top: 550px;
	left: 0;
	width: 900px; 
	height: 50px;
	background: url('../assets/Path60percent.png');
    color: #fff;
}
.content {
    padding: 5px 10px;
}

.point {
	width: 2px;
	height: 2px;
	overflow: hidden;
	background: #f00;
	z-index: 2;
}
.sprite {
	position: absolute;
}
.missile {
	width: 24px;
	height: 100px;
	background: url('../assets/missile-sprite.png') no-repeat;
	background-position: 0 0;
	z-index: 1;
	border: 1px solid yellow;
	margin-top: -50px;
	margin-left: -12px;
}
.wall {
	position: absolute;
	background: url('../assets/Path60Percent.png') no-repeat;
}
